<!DOCTYPE html>
<html lang="en">
<body style="background-color: black; background-image:url(https://i.imgur.com/iW0lDES.jpg); background-repeat: no-repeat; background-position: top;">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body style="">

	
    <h3 style = "color:white; text-align: left; font-family: verdana;">Hello my name is {{ name }}</h3>
    <img src="https://i.imgur.com/u3vKGGQ.jpg" alt="HTML5 Icon" width="200" height="300"><article style="color:white; font-size: 120%; font-family: courier;">NPM : {{ npm }}</article>
    <article style="color:white; font-size: 120%; font-family: courier;">I am {{ age }} years old</article>
    <article style="color:white; font-size: 120%; font-family: courier;">{{describe}}</article>
    
    <h3 style = "color:white; text-align: left; font-family: verdana;">Hello my name is {{ frontname }}</h3>
    <img src="http://www.about.tarung2017.com/foto/325.jpg" alt="HTML5 Icon" width="200" height="300"><article style="color:white; font-size: 120%; font-family: courier;">NPM : {{ frontnpm }}</article>
	<article style="color:white; font-size: 120%; font-family: courier;">I am {{ fage }} years old</article>
	<article style="color:white; font-size: 120%; font-family: courier;">{{Fdescribe}}</article>

    
    <h3 style = "color:white; text-align: left; font-family: verdana;">Hello my name is {{ backname }}</h3>   
    <img src="http://www.about.tarung2017.com/foto/834.jpg" alt="HTML5 Icon" width="200" height="300"><article style="color:white; font-size: 120%; font-family: courier;">NPM : {{ backnpm }}</article> 
    <article style="color:white; font-size: 120%; font-family: courier;">I am {{ bage }} years old</article>	
	<article style="color:white; font-size: 120%; font-family: courier;">{{Bdescribe}}</article>


</body>
</html>